* {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
   aspect-ratio: 16 / 9;
    object-fit: cover;
}
a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
ul {
  margin-bottom: 0px;
  padding-left: 0;
}
.lista-custom {
    padding-bottom: 20px; /* Ajusta solo para esta lista */
   padding-left: 0;
}
a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.cp {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
p {
  margin-bottom: 0;
  width: 100%;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.hid {
  display: none;
}
.top-mar {
  margin-top: 15px;
}
.h-100 {
  height: 100%;
}
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}
.container-fluid {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  color: #545454;
}
strong {
  font-family: "PT Sans", sans-serif;
}
body {
  background-color: #f9fbff !important;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #6a6a6a;
  overflow-x: hidden;
}
.session-title {
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
}
.session-title h2 {
  width: 100%;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
}
.session-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
  font-size: 0.83rem;
  margin-top: 15px;
}
.session-title span {
  float: right;
  font-style: italic;
}
.inner-title {
  padding: 20px;
  padding-left: 0;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0;
}
.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #863dd9;
  padding-bottom: 10px;
  margin-bottom: 0;
  width: 300px;
}
.inner-title p {
  width: 100%;
  text-align: center;
}
.inner-title .btn {
  float: right;
  margin-top: -38px;
  font-weight: 600;
  font-size: 0.8rem;
}
.page-nav {
  background-size: 100%;
  padding: 68px;
  padding-top: 180px;
  text-align: center;
  background-color: #eaeaea;
}
.page-nav ul {
  float: none;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .page-nav {
    background-size: auto;
  }
}
@media screen and (max-width: 767px) {
  .page-nav {
    padding-top: 163px;
  }
}
@media screen and (max-width: 575px) {
  .page-nav {
    padding-top: 200px;
  }
}
.page-nav h2 {
  font-size: 28px;
  width: 100%;
  font-weight: 700;
  color: #444;
}
@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}
.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-size: 0.93rem;
  font-weight: 600;
  color: #444;
}
.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #444;
}
.page-nav ul li a {
  color: #444;
  font-size: 0.93rem;
  font-weight: 600;
}
.btn-success {
  background-color: #51be78;
  border-color: #51be78;
}
.btn-success:hover {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}
.btn-success:active {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}
.btn-success:focus {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
  box-shadow: none !important;
}
.btn-primary {
  background-color: #1965fd;
  border-color: #1965fd;
}
.btn-primary:hover {
  background-color: #1965fd !important;
  border-color: #1965fd !important;
}
.btn-primary:active {
  background-color: #1965fd !important;
  border-color: #1965fd !important;
}
.btn-primary:focus {
  background-color: #1965fd !important;
  border-color: #1965fd !important;
  box-shadow: none !important;
}
.btn {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 0.2), 0 2px 2px 0 rgb(0 0 0 / 0.14),
    0 1px 5px 0 rgb(0 0 0 / 0.12);
  border-radius: 2px;
}
.form-control:focus {
  box-shadow: none !important;
  border: 0;
}
.btn-light {
  background-color: #fff;
  color: #3f3f3f;
}
.collapse.show {
  display: block !important;
}
.form-control:focus {
  box-shadow: none;
  border: 0;
}
.form-control {
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
.form-control:focus {
  background-color: #fff;
  border-color: #ccc;
}
.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}
header {
  position: absolute;
  background-color: #fff;
  z-index: 999;
}
header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1000px;
  top: 0;
  margin-right: -60px;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 1184px) {
  header::after {
    margin-right: -160px;
  }
}
@media screen and (max-width: 1068px) {
  header::after {
    margin-right: -260px;
  }
}
@media screen and (max-width: 974px) {
  header::after {
    margin-right: -360px;
  }
}
@media screen and (max-width: 876px) {
  header::after {
    margin-right: -400px;
  }
}
@media screen and (max-width: 824px) {
  header::after {
    margin-right: -480px;
  }
}
@media screen and (max-width: 767px) {
  header::after {
    display: none;
  }
}
header .header-top {
  padding: 16px;
  background-color: #071c35;
}
header .header-top .contacthd p {
  color: #fff;
  font-size: 0.95rem;
}
header .header-top .contacthd p i {
  margin-right: 10px;
}
header .header-top .email {
  float: right;
  border-right: 1px solid #ccc;
}
header .header-top .email li {
  color: #fff;
  float: left;
  padding: 0 10px;
  font-size: 0.95rem;
}
header .header-top .email li i {
  margin-right: 10px;
}
@media screen and (max-width: 392px) {
  header .header-top .email {
    display: none;
  }
}
header .header-top .social-login {
  float: right;
}
header .header-top .social-login li {
  color: #fff;
  float: left;
  padding: 0 10px;
}
header .header-bottom .logo {
  padding-top: 11px;
}
header .header-bottom .logo img {
  max-width: 210px;
}
header .header-bottom .navs ul {
  float: right;
}
header .header-bottom .navs ul li {
  float: left;
  padding: 21px 30px;
  font-weight: 600;
  font-size: 0.96rem;
}
header .header-bottom .navs ul li a {
  color: #545454;
}
@media screen and (max-width: 974px) {
  header .header-bottom .navs ul li {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 824px) {
  header .header-bottom .navs ul li {
    padding: 20px 13px;
  }
}
@media screen and (max-width: 767px) {
  header .header-bottom .navs ul li {
    float: none;
    color: #071c35;
    padding: 10px;
    font-weight: 600;
  }
  header .header-bottom .navs ul li a {
    color: #071c35;
  }
}
@media screen and (max-width: 767px) {
  header .header-bottom .navs ul {
    width: 100%;
  }
  .slider .detail h1 {
    font-size: 2rem !important;
  }
}
.small-menu {
  float: right;
  color: #071c35;
  font-size: 1.8rem;
  position: absolute;
  right: 18px;
  top: 18px;
}
.scroll-to-fixed-fixed {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.16), 0 2px 10px 0 rgb(0 0 0 / 0.12);
}
.scroll-to-fixed-fixed .navs ul li a {
  color: #071c35 !important;
}
@media screen and (max-width: 767px) {
  .scroll-to-fixed-fixed {
    padding-bottom: 10px;
  }
}
.slider-container {
  padding-top: 20px;
  padding-top: 65px;
  width: 100%;
  height: 705px;
}
.slider {
  background-image: url(../images/slide-12.webp);
  height: 640px;
  padding: 0;
}
.slider .layye {
  background-color: rgb(1 29 86 / 0.63);
  padding-top: 50px;
  position: absolute;
  width: 100%;
  height: 640px;
}
.slider .detail {
  padding-top: 26px;
  padding-bottom: 90px;
  color: #fff;
}
.slider .detail h2 {
  margin-bottom: 30px;
  font-size: 2.6rem;
  color: #fff;
  font-weight: 600;
}
.slider .detail h1 {
  margin-bottom: 30px;
  font-size: 2.6rem;
  color: #fff;
  font-weight: 600;
}
.slider .detail p {
  margin-bottom: 40px;
  max-width: 600px;
}
.slider .detail .btn {
  box-shadow: none;
  font-weight: 500;
  border-radius: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.slider .image {
  padding-top: 20px;
}
@media screen and (max-width: 767px) {
  .slider {
    background-image: url(../images/slide-11-small.webp);
    background-size: cover;
    background-position: center center;
  }
  .slider .image {
    padding-top: 0;
  }
}
.key-features .key-row {
  margin-top: -60px;
}
@media screen and (max-width: 767px) {
  .key-features .key-row {
    margin-top: -39px;
  }
}
.key-features .key-row .sec-det {
  padding: 50px 27px 30px;
  box-shadow: 0 30px 60px #071c350d;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.key-features .key-row .sec-det i {
  font-size: 26px;
  width: 60px;
  height: 60px;
  background-color: #1965fd;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  margin-bottom: 30px;
}
.key-features .key-row .sec-det h4 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.key-features .key-row .sec-det h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
.custom-h2 {
  font-size: 20px !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  margin-bottom: 0px !important;
}
#historia {
  font-weight: 600;
  margin-bottom: 21px;
  border-bottom: 1px solid #1965fd;
  font-size: 2rem;
  color: #545454;
}
.product-div {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}
.product-div img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.product-detail {
  padding-top: 20px;
}
.product-detail h4 {
  margin-bottom: 10px;
}
.product-detail span {
  color: #666;
}
.product-detail p {
  margin-bottom: 20px;
}
.product-info {
  margin-bottom: 20px;
}
.product-info span {
  margin-right: 10px;
}
.btn-primary {
  display: block;
  width: 100%;
}
.about-us {
  padding: 50px;
  margin-top: 0;
}
@media screen and (max-width: 940px) {
  .about-us {
    padding: 30px 10px;
  }
}
.about-us .about-row {
  box-shadow: 0 30px 60px #071c350d;
  background-color: #fff;
  border-radius: 10px;
}
.about-us .about-row .details {
  padding: 30px;
  margin: auto;
}
.about-us .about-row .details h2 {
  font-weight: 600;
  margin-bottom: 21px;
  border-bottom: 1px solid #1965fd;
  padding-bottom: 15px;
}
.about-us .about-row .details a {
  padding: 10px 20px;
  background-color: #1965fd;
  color: #fff;
  font-weight: 500;
  border-radius: 50px;
}
.about-us .about-row .details ul li {
  padding: 4px;
}
.about-us .about-row .details ul li i {
  margin-right: 5px;
  color: #1965fd;
}
.about-us .about-row .iamge {
  padding: 0;
}
.about-us .about-row .iamge img {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.ourservices .service-row {
  margin-top: 20px;
}
.ourservices .service-row .servicescol .ercider {
  box-shadow: 0 30px 60px #071c350d;
  padding: 50px 30px;
  margin-bottom: 30px;
  text-align: center;
}
.ourservices .service-row .servicescol .ercider i {
  font-size: 26px;
  width: 60px;
  height: 60px;
  background-color: rgb(25 101 253 / 0.1);
  color: #1965fd;
  text-align: center;
  border-radius: 5px;
  padding-top: 15px;
  margin-bottom: 30px;
}
.ourservices .service-row .servicescol .ercider h4 {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.ourservices .service-row .servicescol .ercider:hover {
  background-color: #fff;
}
.ourservices .service-row .servicescol .ercider:hover i {
  background-color: #1965fd;
  color: #fff;
}
.professional-details {
  background-image: url(../images/slide-1.jpg);
  background-size: cover;
}
.professional-details .layy {
  background-color: rgb(0 0 0 / 0.8);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 50px;
  padding-bottom: 120px;
  padding-top: 60px;
}
@media screen and (max-width: 940px) {
  .professional-details .layy {
    padding: 30px 10px;
  }
}
.professional-details .layy .succss-row .cuscol {
  text-align: center;
  margin-bottom: 30px;
}
.professional-details .layy .succss-row .cuscol i {
  color: #1965fd;
  background-color: #fff;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 23px;
  font-size: 32px;
  border-radius: 50px;
  margin-bottom: 30px;
}
.professional-details .layy .succss-row .cuscol h1 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.professional-details .layy .succss-row .cuscol h6 {
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
}
.professional-details .layy .session-title {
  margin-bottom: 70px;
}
.professional-details .layy .session-title h2 {
  color: #fff;
}
.out-team {
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .out-team {
    padding: 30px 10px;
  }
}
.out-team .team-row .team-col .teamdiv .image-part {
  text-align: center;
}
.out-team .team-row .team-col .teamdiv .image-part img {
  width: 90px;
  border-radius: 50px;
  margin-bottom: -40px;
}
.out-team .team-row .team-col .teamdiv .detail-part {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-top: 60px;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgb(218 218 253 / 0.35),
    0 0 3px 0 rgb(206 206 238 / 0.35);
}
.out-team .team-row .team-col .teamdiv .detail-part h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.out-team .team-row .team-col .teamdiv .detail-part span {
  color: #1965fd;
  font-weight: 600;
}
.out-team .team-row .team-col .teamdiv .detail-part p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.out-team .team-row .team-col .teamdiv .detail-part .social-links a i {
  width: 30px;
  text-align: center;
  font-size: 0.9rem;
}
.our-blog {
  padding: 50px;
  background-color: #cccccc0d;
}
@media screen and (max-width: 940px) {
  .our-blog {
    padding: 30px 10px;
  }
}
.our-blog .blog-row .blogcol {
  margin-bottom: 30px;
}
.our-blog .blog-row .blogcol .blogdiv {
  background-color: #fff;
  box-shadow: 0 2px 3px 0 #fff0, 0 2px 3px 0 rgb(206 206 238 / 0.12);
  border-radius: 5px;
}
.our-blog .blog-row .blogcol .blogdiv img {
  width: 100%;
}
.our-blog .blog-row .blogcol .blogdiv .blog-detail {
  padding: 30px;
  text-align: center;
}
.our-blog .blog-row .blogcol .blogdiv .blog-detail h4 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.our-blog .blog-row .blogcol .blogdiv .blog-detail span {
  color: #1965fd;
}
.our-blog .blog-row .blogcol .blogdiv .blog-detail p {
  margin-top: 20px;
}
.our-blog .blog-row .blogcol .blogdiv .blog-detail ul {
  margin-top: 20px;
}
.our-blog .blog-row .blogcol .blogdiv .blog-detail ul li {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 0.85rem;
}
.our-blog .blog-row .blogcol .blogdiv .blog-detail ul li i {
  margin-right: 5px;
  font-size: 14px;
}
.footer-ablove {
  padding: 30px;
  background-color: #5cb400;
  color: #fff;
  font-size: 1.5rem;
}
.footer-ablove .btn {
  float: right;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;
}
footer {
  padding: 80px 50px;
  background-color: #071c35eb;
  color: #fff;
}
@media screen and (max-width: 940px) {
  footer {
    padding: 50px 10px;
  }
}
footer h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
}
footer .about p {
  font-size: 0.9em;
  margin-bottom: 20px;
}
footer .about .foot-address {
  display: flex;
}
footer .about .foot-address .icon {
  padding: 20px 10px;
}
footer .about .foot-address .addet {
  font-size: 0.9rem;
  margin: auto 0;
}
footer .fotblog .blohjb {
  margin-bottom: 10px;
}
footer .fotblog .blohjb p {
  font-size: 0.9rem;
}
footer .fotblog .blohjb span {
  font-size: 0.9rem;
}
footer .glink ul li {
  padding: 10px;
}
footer .glink ul li i {
  margin-right: 10px;
}
footer .glink ul li a {
  color: #fff;
}
footer .tags ul li {
  float: left;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}
.copy {
  padding: 20px;
  background-color: #071c35;
  color: #fff;
}
.copy a {
  color: #fff;
  font-size: 0.85rem;
}
.copy span {
  float: right;
}
.copy span i {
  margin-right: 20px;
}
.cop-ck {
  padding: 20px;
  background-color: #ffffffbd;
}
.cop-ck h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .detailsh {
    padding-top: 0;
  }
  .form-login-body .login-desk .loginform .login-det {
    padding-bottom: 45px;
  }
}
.espacio-arriba0 {
  margin-top: 22px;
}
.espacio-arriba {
  margin-top: 22px;
}
.espacio-arriba1 {
  margin-top: 22px;
}
.h3,
h3 {
  font-size: 1.2rem;
}
.custom1 {
  margin-top: 23px;
}
.custom2 {
  margin-top: 23px;
}
.custom3 {
  margin-top: 70px;
}
.ac {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 25px;
  background-color: #1965fd;
  color: #fff;
  width: 50%;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  margin: 0 auto;
  display: block;
  margin-bottom: 33px;
}
.ac:hover {
  background-color: #0056b3;
  text-decoration: none;
}
